{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}


  <div  class="parallax" ></div>
  <div class="row interdiv" style="">
    <div id="chartdiv" class="col s12"></div>
  </div>
    <!--div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="es_ES" data-type="vertical" data-theme="light" data-vanity="santiago-gonzalez-volpe-22009a35">
      <a class="LI-simple-link" href='https://uk.linkedin.com/in/santiago-gonzalez-volpe-22009a35?trk=profile-badge'>
        Santiago Gonzalez Volpe
      </a>
    </div-->

  <div class="parallax"></div>

  <div class="row interdiv">
      <div class="col-s1 centered">
          Experience
      </div>
  </div>
  <div class="parallax"></div>

  <div class="row interdiv" style="">

    <div class="card col-s1 centered" style="width: 25rem; margin:0 auto">
        <div class="card-body">
          <h5 class="card-title">Data Analyst</h5>
          <h6 class="card-subtitle mb-2 text-muted">Principal, Online Technical Sales EMEA</h6>
            <p class="card-text"><small><b>The Role:</b> Identify optimization opportunities as well as analyse and support the analysis of various product configurations.
            Need to interact with product, technical, account & customer teams as well as the top OTAs in EMEA market, to support the increase of Sabre's market share.
           </small></p>
          <p class="card-text"><small>
            <li>Trained the OTS Team on both product capabilities as well as analytic tools.</li>
            <li>Completing more than 12 customer engagements, including some of the top Online Agencies in the region.</li>
            <li>Stablished a standarized process for Shopping Benchmarking. Product that enables the team to compare both internal and external API content for big volumes of data.</li>
            <li>Were awarded with 2018 Team of the Year</li>
            </small></p>
          <small><a href="#" class="card-link">See more</a>
          <a href="#" class="card-link">Business Reference</a></small>
        </div>
      </div>
      <div class="card col-s1 centered" style="width: 25rem; margin:0 auto">
          <div class="card-body">
            <h5 class="card-title">Online Customer Performance Engineer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Team Lead, OCPE Team</h6>
              <p class="card-text"><small><b>The Role:</b>
             </small></p>
            <p class="card-text"><small>
              <li>Supported the Americas OTAs portfolio</li>
              <li>Development of internal tools (OCEAN), including automation of support processes</li>
              <li>Awardedd with 2016 GO Team Excellence Award. Which consisted of a cash price of USD4000 to the team. were able to create a set of tools that are used across the Sabre enterprise”</li>
              <li>Took part on the migration of one of the major OTAs in EMEA. </li>
              <li>Winning the 2nd Half 2017 Champion’s League Team Excellence Award</li>


              </small></p>
            <small><a href="#" class="card-link">See more</a>
            <a href="#" class="card-link">Business Reference</a></small>
          </div>
        </div>

        <div class="card col-s1 centered" style="width: 25rem; margin:0 auto">
            <div class="card-body">
              <h5 class="card-title">SWS HD Analyst</h5>
              <h6 class="card-subtitle mb-2 text-muted">Sabre Web Services</h6>
                <p class="card-text"><small><b>The Role:</b>
               </small></p>
              <p class="card-text"><small>
                <li>Creation of Documentation</li>
                <li>Creation of Desktop Applications</li>



                </small></p>
              <small><a href="#" class="card-link">See more</a>
              <a href="#" class="card-link">Business Reference</a></small>
            </div>
          </div>

  </div>
  <div class="parallax"></div>
  <div class="row interdiv" style="">
      <div class="sgv_divider"></div>
  </div>
  <div class="parallax"></div>
<span style="font-family: 'Special Elite', cursive">TEST</span>

  {% endblock %}
